@{
    ViewBag.Title = "Sök efter fotbollsplaner";
    @model Hittafotbollsplaner.Models.FotbollsplanerModels
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


<script>
    $(document).ready(function () {
        $("#sökinput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/GetAutoCompleteData",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Namn, value: item.Adress
                            }
                        }))
                    },
                    messages: {
                        noResults: "", results: ""
                    }
                });
            }
        });
    });
</script>


<div class="sökDiv text-center">
    <a href="~/Home/Index"><img id="logo" src="/Content/img/hfpLogotype.png" style="width: 200px; height: 80px;"></a>
    <div class="input-group">
        <input id="sökinput" type="text" class="form-control controls" placeholder="Sök på adress eller namn..">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="material-icons">my_location</i></button>
            @*<button type="button" class="btn btn-default"><i class="material-icons">search</i></button>*@
        </div>
    </div>

    <div class="mini-nav">
        <ul>
            <li>@Html.ActionLink("Lägg till fotbollsplan", "Create", "fotbollsplaners")</li>
            <li>@Html.ActionLink("Om oss", "Om", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
        </ul>
    </div>
    <hr />
    <div>
        <div id="googleMap" style="width:100%;height:370px;"></div>
    </div>
                            @using (Html.BeginForm("Index", "Home"))
                            {

                                    <script>

                                        function myMap() {
                                            var myCenter = new google.maps.LatLng(63, 14);
                                            var mapCanvas = document.getElementById("googleMap");
                                            var mapOptions = { center: myCenter, zoom: 4 };
                                            var map = new google.maps.Map(mapCanvas, mapOptions);
                                            var icon = {
                                                url: "/Content/img/marker.png", // url
                                                scaledSize: new google.maps.Size(32, 50), // scaled size
                                                origin: new google.maps.Point(0, 0), // origin
                                                anchor:
                                                new google.maps.Point(20, 50) // anchor
                                            };

                                            @foreach (var item in Model.AllaFotbollsplaner)
                                            {
                                               <text>

                                            var myCenter = new google.maps.LatLng(@item.Latitud, @item.Longitud);
                                            var marker = new google.maps.Marker({
                                                position: myCenter,
                                                icon: icon
                                            });
                                            marker.setMap(map);
                                            addInfoWindow(marker, "<b>@item.Namn</b><br>@item.Adress<br>@item.Postnummer @item.Ort<br><br><a id=merInfoA href=@Url.Action("AktuellFotbollsplan", "Fotbollsplan", new { id = item.Id })><li id=merInfo>Mer information</li></a>");
                                            </text>
                                            }

                                            function addInfoWindow(marker, message) {

                                                var infoWindow = new google.maps.InfoWindow({
                                                    content: message
                                                });

                                                google.maps.event.addListener(marker, 'click', function () {
                                                    infoWindow.open(map, marker);
                                                });
                                            }
                                    }
                                    </script>
                            }
</div>


<div class="row ontoppageStart">
    <div class="col-md-offset-3 col-md-3">
        <h3>Populära</h3>
        <div class="list-group">

            @using (Html.BeginForm("Index", "Home"))
            {
                foreach (var item in Model.fotbollsplaner) // RADAR UPP FOTBOLLSPLANERS NAMN I "SENAST"
                {
                    <a class="list-group-item list-group-item" href="@Url.Action("AktuellFotbollsplan", "Fotbollsplan", new { id = item.Id })"><li>@item.Namn</li></a>
                }
            }
        </div>
    </div>
    <div class="col-md-3">
        <h3>Nyligen tillagda</h3>
        <div class="list-group">

            @using (Html.BeginForm("Index", "Home"))
            {
                foreach (var item in Model.senasteFotbollsplaner) // RADAR UPP FOTBOLLSPLANERS NAMN I "SENAST"
                {
                    <a class="list-group-item list-group-item" href="@Url.Action("AktuellFotbollsplan", "Fotbollsplan", new { id = item.Id })"><li>@item.Namn</li></a>
                }
            }
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdYS_UAzWfdbIIbydr7rIwpvqtKCUUEBY&callback=myMap"></script>
