@model Hittafotbollsplaner.Models.EmailFormModel
@{
    ViewBag.Title = "Kontakt";
}

<div class="ontoppageKontakt">
    @using (Html.BeginForm("Contact", "Home"))
    {
        @Html.AntiForgeryToken()
        <h4>Kontakta oss</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label" for="FromName">Ditt namn</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="FromName">Din email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromEmail)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="FromName">Ditt meddelande</label>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Skicka" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}