@model Hittafotbollsplaner.Models.fotbollsplaner

@{
    ViewBag.Title = "Lägg till fotbollsplan";
}

<script>
    $("#hideNav").click(function () {
        $(".navbar").toggle();
    });
</script>

<div class="row ontoppageNyplan content">
    <div class="panel-body body-nyplan">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 style="text-align: center;">Lägg till fotbollsplan</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger", required = "required" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" >
                        @Html.EditorFor(model => model.Namn, new { htmlAttributes = new {  @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Namn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ort, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ort, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Postnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Postnummer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Postnummer, "", new { @class = "text-danger" })
                    </div>
                </div>
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem
                        {
                            Text = "Gräs",
                            Value = "Gräs"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Grus",
                            Value = "Grus",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Konstgräs",
                            Value = "Konstgräs",
                        });
                    }
                <div class="form-group">
                    @Html.LabelFor(model => model.Underlag, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Underlag, listItems, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Underlag, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label col-md-9" for="Karta">Markera vart på kartan fotbollsplanen ligger  </label>
                        <div id="googleMap" style="width:100%;height:300px;"></div>
                        <script>




                            var oldMarker;
                            var marker


                    function myMap() {
                        var myCenter = new google.maps.LatLng(63.176683, 14.636068);
                        var mapCanvas = document.getElementById("googleMap");
                        var mapOptions = { center: myCenter, zoom: 4 };
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        var icon = {
                            url: "/Content/img/marker.png", // url
                            scaledSize: new google.maps.Size(32, 50), // scaled size
                            origin: new google.maps.Point(0,0), // origin
                            anchor: new google.maps.Point(20, 50) // anchor
                        };
                        google.maps.event.addListener(map, 'click', function (event) {
                            placeMarker(event.latLng);
                            var position = marker.getPosition();
                            var latitude = position.lat();
                            var longitude = position.lng();
                            var postData = { latitude: latitude, longtitude: longitude };
                            $.ajax({
                                url: url,
                                type: 'GET',
                                data: postData,
                                success: function (result) {
                                }
                            });
                        });
                        function placeMarker(location) {
                                marker = new google.maps.Marker({
                                position: location,
                                icon: icon,
                                map: map
                            });

                            if (oldMarker != undefined) {
                                oldMarker.setMap(null);
                            }
                            oldMarker = marker;
                            map.setCenter(location);
                        }
                    }
                            // SKICKAR LAT OCH LNG 
                            function aktuellFotbollsplanLatLng() {

                                if (latitude != "" && longitude != "") {

                                    $.ajax({
                                        url: '/fotbollsplaners/Create',
                                        type: 'POST',
                                        async: false,
                                        dataType: 'text',
                                        processData: false,
                                        data: {
                                            latitude,
                                            longitude
                                        },
                                        success: function (data) { }
                                        //success: function (data) { }
                                        //url: '/fotbollsplaners/Create',
                                        //contentType: 'application/html; charset=utf-8',
                                        //data: { latitude, longitude },
                                        //type: 'POST',
                                        //dataType: 'text',
                                        //success: function (data) { }
                                    });
                                }
                            }

                            $("#läggtillFP").click(function () {
                                alert("Handler for .click() called.");
                                aktuellFotbollsplanLatLng();
                            });


                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7" >
                       <input type="submit" id="läggtillFP" value="Lägg till" class="btn btn-default"/>
                    </div>
                </div>
                @if (@ViewBag.SuccessConfirm != null)
                {
                    @Html.Partial("_SuccessConfirmation")
                }
            </div>

        }



        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdYS_UAzWfdbIIbydr7rIwpvqtKCUUEBY&callback=myMap"></script>
