@model Hittafotbollsplaner.Models.fotbollsplaner

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort denna fotbollsplan?</h3>
<div style="background-color: white;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnummer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
