@model Hittafotbollsplaner.Models.fotbollsplaner


@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "Delete";
    }


    <div class="ontoplook" style="margin-top: 1%;">
        <h2>Är du säker på att du vill ta bort denna fotbollsplan?</h2>
        <hr />
        <dl class="dl-horizontal" style="margin-left: 2%;">
            <dt>
                @Html.DisplayNameFor(model => model.Namn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Namn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ort)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ort)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Postnummer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Postnummer)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions">
                <a href="/editering"><input type="button" value="Tillbaka" class="btn btn-default pull-left" /></a>
                <input type="submit" value="Delete" class="btn btn-danger center-block" />
            </div>
        }
    </div>
}
else // EJ INLOGGAD
{
    {
        ViewBag.Title = "Ej inloggad";
    }
            <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
                <div class="modal-dialog">
                    <div class="modal-content ontoplook" style="margin-top: 35%;">
                        <div class="modal-header">
                            <h4 class="modal-title">Ej inloggad</h4>
                        </div>
                        <div class="modal-body">
                            <p>Vänligen logga in för att få tillgång till denna sida.</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" value="Logga in" onclick="location.href='@Url.Action("Login", "Account")'" />
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            }