@model Hittafotbollsplaner.Models.fotbollsplaner


@if (Request.IsAuthenticated)
{
@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort denna fotbollsplan?</h3>
<div style="background-color: white;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnummer)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
    }
    else // EJ INLOGGAD
    {
        @{
            ViewBag.Title = "Ej inloggad";
        }
            <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
                <div class="modal-dialog">
                    <div class="modal-content ontoplook" style="margin-top: 35%;">
                        <div class="modal-header">
                            <h4 class="modal-title">Ej inloggad</h4>
                        </div>
                        <div class="modal-body">
                            <p>Vänligen logga in för att få tillgång till denna sida.</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" value="Logga in" onclick="location.href='@Url.Action("Login", "Account")'" />
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            }