@model Hittafotbollsplaner.Models.IndexViewModel

@if (Request.IsAuthenticated)
{



    {
        ViewBag.Title = "Ändra kontoinställningar";
    }

    <div class="ontoplook" style="margin-top: 1%;">

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div style="background-color: white;">
                <h2>@ViewBag.Title.</h2>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Lösenord:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Ändra lösenord", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Skapa lösenord", "SetPassword")
                        }
                        ]
                    </dd>
                </dl>
            </div>
        </div>
        }
        else
        {
        {
        ViewBag.Title = "Ej inloggad";
        }
        <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
            <div class="modal-dialog">
                <div class="modal-content ontoplook" style="margin-top: 35%;">
                    <div class="modal-header">
                        <h4 class="modal-title">Ej inloggad</h4>
                    </div>
                    <div class="modal-body">
                        <p>Vänligen logga in för att få tillgång till denna sida.</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" value="Logga in" onclick="location.href='@Url.Action("Login", "Account")'" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        }
