@model Hittafotbollsplaner.Models.fotbollsplaner
@{
    ViewBag.Title = Model.Namn;
}

<script>
    $("#hideNav").click(function () {
        $(".navbar").toggle();
    });
</script>

<style type="text/css">
    #share-buttons img {
        width: 52px;
        padding: 1%;
        border: 0;
        box-shadow: 0;
        display: inline;
    }
</style>

<div class="row aktuellplan1">
    <div class="col-md-11" style="margin-right: 3.5%; margin-left: 3.5%;">
        <div class="ontoplook information-panel">
            <div class="panel-heading">
                <h3 class="panel-title text-center" style="margin-top: .5%; font-size:x-large;">Planinformation  <span class="glyphicon glyphicon-question-sign hjalpKnapp" aria-hidden="true" style="margin-right:2%; ">
                    <span class="hjalpText">Här under planinformation står all information du behöver veta gällande fotbollplanen eller anläggningen.<br />
                    <br/>Tips är att använda satellit funktionen i kartan för att se exakt vart planen är.<br/>
                    </span>
                  </span>
                </h3>
            </div>
            <div class="panel-body" style="padding-top: 0;">
                <div class="row">
                    <div class="infoDiv" style="width:66%;">
                        <h2>@Model.Namn</h2>
                        <h4>@Model.Adress, @Model.Postnummer @Model.Ort</h4>
                        @if (Model.Hemsida == null || Model.Hemsida == "")
                        {
                            <p class="text-muted">Ingen hemsida</p>
                        }
                        else
                        {
                            <a class="hemsida" href="https://@Model.Hemsida" target="_blank">@Model.Hemsida</a>
                        }
                        @if (Model.Fritext == null || Model.Fritext == "")
                        {
                            <p class="text-muted">Ingen fritext</p>
                        }
                        else
                        {
                            <p class="fritext">@Model.Fritext</p>
                        }
                    </div>
                    <div id="googleMap" class="map-aktuellplan" style="width:33%;"></div>
                </div>
                <div class="row icon-panel" style="width:66%;">
                    <div class="col-md-5 antalfotbollplaner">
                        <h5 style="text-decoration-line: underline;">Fotbollsplaner</h5>
                        <ul class="nolidots">
                            <li><div class="col-md-4" style="margin-top: 5%;">@Model.AntalGras x <img src="~/Content/img/GG.png" width="25" style="margin-top:-7.5px;" title="Gräsplan" /></div></li>
                            <li><div class="col-md-4" style="margin-top: 5%;">@Model.AntalKonstGras x <img src="~/Content/img/KG.png" width="25" style="margin-top:-7.5px;" title="Konstgräsplan" /></div></li>
                            <li><div class="col-md-4" style="margin-top: 5%;">@Model.AntalGrus x <img src="~/Content/img/GR.png" width="25" style="margin-top:-11px;" title="Grusplan" /></div></li>
                        </ul>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h5 style="text-decoration-line: underline;">Övrigt</h5>
                        <div class="row ovrigtrow">
                            <ul class="nolidots">
                                <li><div class="col-md-3"><i id="omkl" class="fa fa-shower fa-lg" style="@(Model.Omkladnadsrum == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Omklädnadsrum"></i></div></li>
                                <li><div class="col-md-3"><i id="park" class="fa fa-car fa-lg" style="@(Model.Parkering == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Parkering"></i></div></li>
                                <li><div class="col-md-3"><i id="bokn" class="fa fa-calendar fa-lg" style="@(Model.Bokning == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Bokning"></i></div></li>
                                <li><div class="col-md-3"></div></li>
                            </ul>
                        </div>
                        <div class="row ovrigtrow">
                            <ul class="nolidots">
                                <li><div class="col-md-3"><i id="uppl" class="fa fa-lightbulb-o fa-lg" style="@(Model.Upplyst == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Upplyst"></i></div></li>
                                <li><div class="col-md-3"><i id="kafe" class="fa fa-coffee fa-lg" style="@(Model.Kafe == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Kafé"></i></div></li>
                                <li><div class="col-md-3"><i id="rest" class="fa fa-cutlery fa-lg" style="@(Model.Restaurang == true ? "color: #2ab74b;" : "color: #7d7d7d;")'" aria-hidden="true" title="Restaurang"></i></div></li>
                                <li><div class="col-md-3"></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>

        <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(@Model.Latitud, @Model.Longitud);
                var mapCanvas = document.getElementById("googleMap");
                var mapOptions = {
                    center: myCenter,
                    zoom: 14,
                    minZoom: 5,
                    mapTypeId: google.maps.MapTypeId.TERRAIN,
                    styles: [{"featureType": "administrative.country","elementType": "geometry.stroke","stylers": [{"lightness": -65}]},{"featureType": "administrative.province","elementType": "geometry.stroke","stylers": [{"lightness": -75}]},{"featureType": "landscape.natural","elementType": "geometry.fill","stylers": [{"color": "#ffffff"}]},{"featureType": "landscape.natural","elementType": "geometry.stroke","stylers": [{"color": "#00ff40"}]},{"featureType": "landscape.natural.terrain","elementType": "geometry.fill","stylers": [{"lightness": -15}]},{"featureType": "road.arterial","elementType": "geometry.fill","stylers": [{"lightness": -35}]},{"featureType": "road.arterial","elementType": "labels","stylers": [{"visibility": "off"}]},{"featureType": "road.highway","elementType": "geometry.fill","stylers": [{"color": "#8f8f8f"},{"lightness": -30},{"visibility": "off"}]},{"featureType": "road.highway","elementType": "geometry.stroke","stylers": [{"color": "#a6a6a6"}]},{"featureType": "road.highway","elementType": "labels","stylers": [{"visibility": "off"}]},{"featureType": "road.local","stylers": [{"visibility": "off"}]},{"featureType": "water","elementType": "geometry","stylers": [{"lightness": -40}]},{"featureType": "water","elementType": "geometry.fill","stylers": [{"lightness": 55}]}]
                };
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var icon = {
                    url: "/Content/img/marker2.png", // url
                    scaledSize: new google.maps.Size(38, 56), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(26, 56) // anchor
                };
                var marker = new google.maps.Marker({
                    position:myCenter,
                    icon: icon
                });
                marker.setMap(map);
            }
        </script>
    </div>

<div class="row aktuellplan2">
    <div class="col-md-7" style="margin-right: 2%; margin-left: 3.5%;">
        <div class="ontoplook kommentar-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Kommentarer</h3>
            </div>
            <div class="panel-body">
                <div class="row läggtillkom text-center">
                    <script src="https://apis.google.com/js/plusone.js"></script>
                    <div id="comments" class="text-center"></div>
                    <script>
                        gapi.comments.render('comments', {
                            href: window.location,
                            width: '624',
                            first_party_property: 'BLOGGER',
                            view_type: 'FILTERED_POSTMOD'
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-right: 2%;">
        <div class="ontoplook extra-panel" style="margin-bottom: 13%;">
            <div class="panel-heading">
                <h3 class="panel-title">Dela!</h3>
            </div>
            <div class="panel-body text-center" style="padding-top: 0%;">
                    <div class="text-center center-block">
                        <a href="http://www.facebook.com/sharer.php?u=https://hittafotbollsplaner.azurewebsites.net/Fotbollsplan/AktuellFotbollsplan/@Model.Id" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                        <a href="https://twitter.com/share?url=https://hittafotbollsplaner.azurewebsites.net/Fotbollsplan/AktuellFotbollsplan/@Model.Id&amp;text=Hitta%20Fotbollsplaner&amp;hashtags=simplesharebuttons" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                        <a href="https://plus.google.com/share?url=https://hittafotbollsplaner.azurewebsites.net/Fotbollsplan/AktuellFotbollsplan/@Model.Id" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-4x social"></i></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-right: 2%;">
        <div class="ontoplook extra-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Fel?</h3>
            </div>
            <div class="panel-body" style="padding-top: 0%;">
                <ul class="nolidots text-center center-block" style="color:black; text-decoration: none;">
                    <li style="font-size: larger;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:black;"></i>@Html.ActionLink("  Rapportera fel eller ändring", "Kontakt","Home")</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'sv'}
</script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdYS_UAzWfdbIIbydr7rIwpvqtKCUUEBY&language=sv&callback=myMap&libraries=places"></script>
