<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hittafotbollsplaner.se</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <button id="hideNav" type="button" class="btn btn-default btn-lg hideNav"></button>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logotyp" href="~/Home/Index"><img src="~/Content/img/hfpLogotype.png" style="width: 150px; height: 60px;"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Sök efter fotbollsplan", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lägg till fotbollsplan", "Create", "fotbollsplaners")</li>
                    <li>@Html.ActionLink("Om oss", "Om", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fullscreenBackground"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - Hittafotbollsplaner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
