<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kostnadsfri lokaliseringstjänst för dig som söker efter fotbollsplaner." />
    <meta name="keywords" content="hittafotbollsplaner,fotboll,fotbollsplan,bortamatch,lokalisering">

    <title>@ViewBag.Title - Hittafotbollsplaner.se</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>



    <div class="fullscreenBackground"></div>



    <div class="container body-content">

        <div class="followStart">
            <a class="followStartbody" href="../">
                <div class="followStart-container">
                    <img id="followLogo" src="/Content/img/hfpLogotype.png">
                </div>
            </a>
        </div>
            
        

        @RenderBody()

        <footer class="ontoplook ontoplookFooter" style="display:none;">
            <p style="text-align:center;">&copy; @DateTime.Now.Year - Hittafotbollsplaner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
